{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% trans 'دفترچه تلفن' %}</title>
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-info">
    {% if user.is_authenticated %}

        <a class="navbar-brand" href={% url 'phones:show-add-entry-form' %}>{% trans 'ایجاد مخاطب' %}</a>

        <a class="navbar-brand" href={% url 'phones:search' %}>{% trans 'Search' %}</a>

        <a class="navbar-brand" href={% url 'phones:contacts' %}>{% trans 'مخاطبین' %}</a>

        <a class="navbar-brand" href="{% url 'phones:recent-activities' %}">{% trans 'فعالیت ها' %}</a>
    {% endif %}
    <ul class="navbar-nav ml-auto">
        {% if not user.is_authenticated %}
            <a class="navbar-brand" href={% url 'users:login' %}>{% trans 'ورود' %}</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="navbar-brand" style="color: #c80000" href="{% url 'users:logout' %}">{% trans 'خروج' %}</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'users:edit-profile' %}">{{ user.username }}</a>
        {% endif %}
    </ul>
</nav>

<div class="container" style="background-color: #7abaff">
    <h1 class="mt-5 mb-4"><i class="fa fa-phone-volume ml-2"></i>{% trans 'مخاطب جدید' %}</h1>
    <form>
        <div class="form-group">
            <label for="title" style="color: white">{% trans 'نام' %}</label>
            {{ form.name|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="title" style="color: white">{% trans 'نام خانوادگی' %}</label>
            {{ form.last_name|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="title" style="color: white">{% trans 'شماره' %}</label>
            {{ form.phone_number|add_class:'form-control' }}
        </div>
        {#    {{ form.as_table}}#}
    </form>
    <button id="send-form" class="btn btn-primary mb-5">{% trans 'ارسال' %}</button>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#send-form').on('click', function (event) {
            var first_name = $('#id_name').val();
            var last_name = $('#id_last_name').val();
            var phone_number = $('#id_phone_number').val();
            $.ajax({
                url: '{% url "phones:create" %}',
                method: 'POST',
                data: {
                    name: first_name,
                    last_name: last_name,
                    phone_number: phone_number
                },
                success: function (response) {
                    alert('با موفقیت ذخیره شد.');
                },
                error: function (response) {
                    alert('اطلاعات وارد شده صحیح نیست.');
                }
            });
        });
    });
</script>
</html>