{% extends 'phones/base.html' %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load widget_tweaks %}

{% block page_header_title %}
    contact list
{% endblock %}
{% block content %}
    <div class="container-login100" style="background-color: #7abaff">

        <form method="post">{% csrf_token %}

            <div class="form-group" style="color: white" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>


                <label class="mb-2" style="color: white" >{% trans 'نام' %} {{ form.name|add_class:'form-control' }}</label>
                <label class="mt-2" style="color: white" >{% trans 'نام خانوادگی' %} {{ form.last_name|add_class:'form-control' }}</label>
                <label class="mt-2" style="color: white" >{% trans 'شماره' %} {{ form.phone_number|add_class:'form-control' }}</label>


                <input type="submit" class="btn mt-2 btn-primary" value="Update">
            </div>

        </form>
    </div>
{% endblock %}
