{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>phone numbers</title>
    <style>
        h1 {
            text-align: center;
        }

        table {
            border: 1px solid;
            margin: 0 auto;
            width: 70%;
        }

        td, th {
            text-align: center;
            border: 1px solid;
        }
    </style>

</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>{% trans 'نام' %}</th>
        <th>{% trans 'نام خانوادگی' %}</th>
        <th>{% trans 'شماره' %}</th>
        <th>{% trans 'تاریخ ایجاد' %}</th>
    </tr>
    </thead>
    {% for contact in object_list %}
        <tbody>

        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.phone_number }}</td>
            <td>{{ contact.created_at }}</td>
        </tr>

        </tbody>
    {% endfor %}

</table>
</body>
</html>