{% extends 'phones/base.html' %}
{#{% load cache %}#}
{% load i18n %}
{#{% get_current_language_bidi as LANGUAGE_BIDI %}#}
{#{{ LANGUAGE_CODE|language_bidi }}#}
{% block page_header_title %}
    contact list
{% endblock %}
{% block content %}
    <div class="container-login100" style="background-color: #7abaff" >
        <div class="container">
            {#            {% cache 3600 1 %}#}
            <h2 style="color: white" class="mb-5" lang="fa">{% trans 'فهرست مخاطب ها' %}</h2>
            <table class="table table-striped" style="background-color: white">
                <thead>
                <tr>
                    <th>{% trans 'نام' %}</th>
                    <th>{% trans 'نام خانوادگی' %}</th>
                    <th>{% trans 'شماره' %}</th>
                    <th>{% trans 'تاریخ ایجاد' %}</th>
                    <th>{% trans 'چاپ' %}</th>
                </tr>
                </thead>
                {% for contact in object_list %}
                    <tbody>

                    <tr>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.last_name }}</td>
                        <td>
                            <form id="forms" method="post">
                                {% csrf_token %}
                                <div class="container">
                                    <label>
                                        <input class="input-phone" type="text" maxlength="11"
                                               value="{{ contact.phone_number }}">
                                        <a class="btn btn-primary ml-5"
                                           href="{% url 'phones:edit-contacts' pk=contact.pk %}">Edit</a>
                                        <button class="submit btn btn-danger">Delete</button>
                                    </label>
                                </div>
                            </form>
                        </td>
                        <td>{{ contact.created_at }}</td>
                        <td><a href="" class="btn btn-primary mt-2">
                            🖨
                        </a></td>
                    </tr>

                    </tbody>
                {% endfor %}
            </table>

            {#            {% endcache %}#}

            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination" style="color: #7abaff">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a style="color: white"
                       href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a style="color: white" href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

{% endblock %}